{% extends "layout.html" %}
{% block content %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
{% if session.identifier %}
    <p>Below is a list of notebooks, select the notebook that contains your test session</p>
    <form action="{{url_for('index')}}" method="post">
    <div id="tree">
        <ul>
        {% for notebook in notebooks %}
            <li class="collapsed"><input type="checkbox" name="notebook" value="{{notebook.guid}}"><span>{{notebook.name}}</span>
            <ul>
                {% for note in notebook.notes %}
                <li><input type="checkbox" name="note" value="{{note.title}}:{{note.guid}}"><span>{{note.title}}</span>
                {% endfor %}
            </ul>
       {% endfor %}
       </ul>
    </div>
    <dl>
        <dt>Send Note to Lead</dt>
        <dd><select name=lead>
        <option value=None>No Lead</option>
        {% for user in authorized_users %}
            {% if lead == user.id %}
                <option value="{{user.id}}" selected>{{user.first_name}} {{user.last_name}}</option>
            {% else %}
                <option value="{{user.id}}">{{user.first_name}} {{user.last_name}}</option>
            {% endif %}
        {% endfor %}  
        </select>
    </dl>
    <input type="submit" class="button" value="Get Note Details">
    <input class="button" type="button" onClick="document.location.href='{{url_for('configure')}}';" value="Reconfigure Listed Notebooks">
    </form>
{% else %}
    <p>Please authorize your account to allow the Evernote Test Session Application access</p>
    <a href="{{url_for('auth_start')}}">Authorize</a>
{% endif %}
{% endblock %}